body {
  padding: 5px;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.recherche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo {
  width: 20%;
  height: 20%;
  object-fit: cover;
  padding: 15px;
}

/* Barre de recherche*/

.chercher {
  background-color: #E7E7E7;
  width: 1240px;
  height: 69px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0;
  border-radius: 5px;
  outline-offset: 0;
}

.filtres {
  padding: 15px;
}

/* Bouttons des filtres de recherche actifs */
.buttonFilter {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.ingredientActive {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  color: #FFFFFF;
  background-color: #3282F7;
  height: 37px;
  width: auto;
  left: 100px;
  top: 246px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

.applianceActive {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  color: #FFFFFF;
  background-color: #68D9A4;
  height: 37px;
  width: auto;
  left: 100px;
  top: 246px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

.ustensilActive {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  color: #FFFFFF;
  background-color: #ED6454;
  height: 37px;
  width: auto;
  left: 100px;
  top: 246px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

/* Boutons dropdown */

.dropbtnIngredient {
  background-color: #3282F7;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 170px;
  height: 69px;
}

.dropbtnAppliance {
  background-color: #68D9A4;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 170px;
  height: 69px;
}

.dropbtnUstensil {
  background-color: #ED6454;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 170px;
  height: 69px;
}

.collapsible {
  cursor: pointer;
}

button.collapsible:after {
  content: '\002B';
  color: #FFFFFF;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 45%;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

/* Div contenant les tableaux Ingredients, Appliance et Ustensil filtrés */

.show {
  display: block;
}

.dropdownIngredient {
  background-color: #3282F7;
  border-radius: 5px;
  overflow: overlay;
  width: 100%;
  padding: 5px;
}

.dropdownAppliance {
  background-color: #68D9A4;
  border-radius: 5px;
  overflow: overlay;
  padding: 5px;
  width: 50%;
}

.dropdownUstensil {
  background-color: #ED6454;
  border-radius: 5px;
  overflow: overlay;
  width: 100%;
  padding: 5px;
}

.inputIngredient {
  height: 30px;
  width: 20px;
  left: 53px;
  top: 25px;
  background-color: #3282F7;
  color: #FFFFFF;
  width: 100%;
  border: none;
  outline-offset: 0px;
}

.inputAppliance {
  height: 30px;
  width: 20px;
  left: 53px;
  top: 25px;
  background-color: #68D9A4;
  color: #FFFFFF;
  width: 100%;
  border: none;
  outline-offset: 0px;
}

.inputUstensil {
  height: 30px;
  width: 20px;
  left: 53px;
  top: 25px;
  background-color: #ED6454;
  color: #FFFFFF;
  width: 100%;
  border: none;
  outline-offset: 0px;
}

.listingName {
  color: #FFFFFF;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: visible;
  align-content: space-between;
  list-style: none;
}

.listingName:hover {
  cursor: pointer;
  text-decoration: none;
}

.lineThrough
{
  text-decoration: line-through;
}

/* Section des plats */

.plats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #fff;
}

.recettes {
  display: flex;
  background-color: #E7E7E7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px;
  height: 380px;
  width: 380px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}

.imgrecettes {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: fill;
  background-color: #C7BEBE;
  height: inherit;
  width: 380px;
  left: 0px;
  top: 0px;
}

.textrecette {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  align-content: space-around;
}

.titrerecette {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-content: center;
  padding: 5px;
  width: 70%;
}

.time {
  color: #000000;
  font-size: 18px
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.ingrédients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  align-items: flex-start;
  align-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding: 5px;
  height: 106px;
  width: 171px;
  left: 20px;
  top: 243px;
}

.resume {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  height: 110px;
  width: 171px;
  left: 191px;
  top: 243px;
  padding: 5px;
}



/*----------------- RESPONSIVE -------------------- */


@media screen and (max-width: 800px) {

  .dropdown {
    flex-direction: column;
  }

  .plats {
    flex-direction: column;
  }

}